table {
    border-collapse: collapse;
    width: 100%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-align: center;
}
th {
    background-color: #808080;
    color: white;
}
.asd{
    background-color:white;
}
tr:nth-child(even) {background-color:  }

.delete {
    webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #808080;
    font: #939595;
    color: white
}

.customCheckBox[type="checkbox"]:after{
    position: relative;
    display: block;
    left: 2px;
    top: -11px;
    width: 7px;
    height: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #B3B3B3 #dcddde #dcddde #B3B3B3;
    content: "";
    background-repeat: no-repeat;
    background-position:center;
}

.customCheckBox[type="checkbox"]:before{
    border: 1px solid #808080;
    content: "";
    background: #FFF;
    position: relative;
    display: block;
    width: 11px;
    height: 11px;

}
.customCheckBox[type="checkbox"]:checked:after{
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC');
}
/* Large checkboxes */
.customCheckBox.large{
    height:22px;
    width: 22px;
}

.customCheckBox.large[type="checkbox"]:before{
    width: 20px;
    height: 20px;
}
.customCheckBox.large[type="checkbox"]:after{
    top: -20px;
    width: 16px;
    height: 16px;
}